@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// $bg-dark: hsl(204 11% 90%);
// $bg: hsl(204 22% 95%);
// $bg-light: hsl(204 100% 100%);
// $text: hsl(204 33% 4%);
// $text-muted: hsl(204 7% 28%);
// $highlight: hsl(204 100% 100%);
// $border: hsl(204 4% 50%);
// $border-muted: hsl(204 6% 62%);
// $primary: hsl(197 100% 19%);
// $secondary: hsl(31 100% 21%);
// $danger: hsl(9 21% 41%);
// $warning: hsl(52 23% 34%);
// $success: hsl(147 19% 36%);
// $info: hsl(217 22% 41%);
// $hot: hsl(353, 74%, 52%);
// $sale: hsl(115, 74%, 52%);
// $star: hsl(39, 74%, 52%);
// $box-sd: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// $text-sd: rgb(255, 255, 255) 0px 2px 8px 0px;

// ////////////////////////////////

$bg-dark: hsl(312, 10%, 90%);
$bg: hsl(300, 23%, 95%);
$bg-light: hsl(0, 0%, 100%);
$text: hsl(300, 33%, 4%);
$text-muted: hsl(300, 7%, 28%);
$highlight: hsl(0, 0%, 100%);
$border: hsl(311, 4%, 50%);
$border-muted: hsl(310, 6%, 62%);
$secondary: hsl(276, 100%, 19%);
$primary: hsl(318, 77%, 37%);
$danger: hsl(9 21% 41%);
$warning: hsl(52 23% 34%);
$success: hsl(147 19% 36%);
$info: hsl(217 22% 41%);
$hot: hsl(335, 74%, 52%);
$sale: hsl(115, 74%, 52%);
$star: hsl(323, 74%, 52%);
$box-sd: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$text-sd: rgb(255, 255, 255) 0px 2px 8px 0px;

* {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

a {
  text-decoration: none;
}

#app {
  flex-grow: 1;
  display: flex;
}

.product {
  width: 100%;
  background-color: $bg-dark;
  padding: 30px 0;

  & h3 {
    color: $text;
  }

  &__wrapper {
    background-color: $bg-light;
    border-radius: 10px;
    padding: 20px;
    margin: 12px 0;
  }

  & .breadcrumb-item {
    &.active {
      color: $text;
    }

    a {
      text-decoration: none;
      color: $text-muted;
    }
  }

  & .breadcrumb-item + .breadcrumb-item {
    padding-left: 2px;
  }

  & .breadcrumb-item:has(+ .breadcrumb-item) {
    padding-right: 2px;
  }

  &__slider-show {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid $bg-dark;

    &-item {
      width: 100%;

      & img {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  &__slider-nav {
    width: 100%;

    &-item {
      padding: 0 5px;

      & img {
        width: 100%;
        height: auto;
        aspect-ratio: 2;
        object-fit: cover;
        border-radius: 3px;
        transition: 0.3s ease;

        &:hover {
          scale: 1.05;
        }
      }
    }
  }

  &__name {
    display: flex;
    align-items: center;
    font-size: 26px;
    color: $text;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  &__badges {
    display: inline-flex;
    margin-right: 5px;
    gap: 5px;
  }

  &__badge {
    background-color: $primary;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &--hot {
      background-color: $hot;
      color: $bg-light;
    }

    &--sale {
      background-color: $sale;
    }
  }

  &__brand {
    font-weight: 700;
    font-size: 20px;
    color: $text-muted;
    margin-bottom: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__stars {
    line-height: 0.9;
    color: $star;
  }

  &__score {
    margin-left: 5px;
    font-size: 18px;
    color: $text;
  }

  &__num-reviews {
    font-size: 14px;
    color: $text-muted;
  }

  &__price {
    color: $text;

    &--current {
      color: $primary;
      font-size: 20px;
      font-weight: 500;

      &::after {
        content: attr(data-currency);
        padding-left: 2px;
      }
    }

    &--old {
      color: $text-muted;
      font-size: 16px;
      text-decoration: line-through;

      &::after {
        content: attr(data-currency);
      }
    }
  }

  &__selections {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__selection {
    color: $text;
    font-size: 18px;
    margin: 0;
  }

  &__options {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__color {
    width: 30px;
    height: auto;
    aspect-ratio: 1;
    border: 1px solid $border;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;

    &:hover {
      box-shadow: $primary 0px 2px 8px 0px;
    }

    &--active {
      box-shadow: $primary 0px 2px 8px 1px;
    }
  }

  &__size {
    width: 40px;
    height: auto;
    aspect-ratio: 4/3;
    border: 1px solid $border;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;

    &:hover {
      background: $primary;
      color: white;
      border: none;
    }

    &--active {
      background: $primary;
      color: white;
      border: none;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: $bg-light;
    border: 1px solid $border;
    border-radius: 15px;
    overflow: hidden;

    &-content {
      flex: 1;
      display: grid;
      place-items: center;
      border-left: 1px solid $border-muted;
      border-right: 1px solid $border-muted;
    }

    &-btn {
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;

      &:hover {
        background-color: $bg;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 15px;
  }

  &__action {
    border-radius: 25px;
    display: grid;
    place-items: center;
    padding: 10px 20px;
    border: 1px solid $border-muted;
    background-color: $bg-dark;
    font-weight: 600;
    color: $text;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: $primary;
      color: $bg-light;
    }
  }

  &__out-of-stock {
    display: grid;
    place-items: center;
    padding: 10px 20px;
    background-color: $primary;
    color: $bg-light;
    border-radius: 25px;
  }

  &__testimonials {
  }

  &__testi-wrapper {
    padding: 15px;
  }

  &__feedback {
    border-bottom: 2px solid $bg-dark;
    padding: 20px 0;

    &-header {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }

    &-avt {
      width: 60px;
      height: auto;
      aspect-ratio: 1;

      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 60px;
        height: auto;
        aspect-ratio: 1;
        border: 2px solid $border-muted;
        border-radius: 50%;
        font-size: 18px;
      }
    }

    &-name {
      color: $text;
      margin: 0;
    }

    &-rating {
      & span {
        line-height: 0.7;
        font-size: 15px;
        color: $star;
      }
    }

    &-date {
      font-size: 15px;
      color: $text-muted;
    }
  }

  & .accordion-button {
    font-weight: 700;
    transition: 0.3s ease;

    // position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 10px;
    //   width: 100%;
    //   height: 1px;
    //   background: $border-muted;
    // }
    // &:hover {
    //   will-change: transform;
    //   transform: scale(1.001);
    // }
  }

  & .accordion-button:not(.collapsed) {
    box-shadow: none;
  }

  & .accordion-button:not(.collapsed)::after {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233A0061'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  & .accordion-item:has(.accordion-button:not(.show)) {
    border: none;
  }

  & .accordion-button:not(.show) {
    color: $text;
    background-color: $bg-light;
  }

  & .accordion-button:focus {
    box-shadow: none;
  }

  & .accordion-body {
    border: 1px solid $bg-dark;
    border-radius: 20px;
  }

  & ol {
    padding-left: 15px;

    & li::marker {
      font-weight: 600;
    }
  }

  & ul {
    padding-left: 4px;

    & li {
      list-style-type: disc;
    }
  }
}

@media (max-width: 575.98px) {
  .product {
    & .breadcrumb-item {
      font-size: 13px;
    }

    &__wrapper {
      margin: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .product {
  }
}

@media (max-width: 991.98px) {
  .product {
    padding: 0 0;

    & .container-xl {
      padding: 2px;
    }

    &__wrapper {
      padding: 10px;
    }
  }
}

@media (max-width: 1199.98px) {
  .product {
    padding: 10px 0;
  }
}

@media (max-width: 1399.98px) {
  .product {
  }
}

.prod {
  &__card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $box-sd;
    transition: 0.3s ease-out;
    background: $bg-light;

    &:hover {
      scale: 1.03;
    }
  }

  &__thumb {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 4/3;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__badges {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-flex;
    margin-right: 5px;
    gap: 5px;
  }

  &__badge {
    background-color: $primary;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &--hot {
      background-color: $hot;
      color: $bg-light;
    }

    &--sale {
      background-color: $sale;
    }
  }

  &__add {
    width: 40px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.297);
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: grid;
    place-items: center;

    color: $text;
  }

  &__content {
    padding: 20px 15px;
  }

  &__name {
    color: $text;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &__brand {
    color: $text-muted;
    font-weight: 800;
  }

  &__price {
    color: $text;

    &--current {
      color: $primary;
      font-size: 20px;
      font-weight: 500;

      &::after {
        content: attr(data-currency);
        padding-left: 2px;
      }
    }

    &--old {
      color: $text-muted;
      font-size: 16px;
      text-decoration: line-through;

      &::after {
        content: attr(data-currency);
      }
    }
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__stars {
    color: $star;
    line-height: 0.9;
  }

  &__score {
    color: $text;
    font-size: 18px;
    margin-left: 5px;
  }

  &__num-reviews {
    color: $text-muted;
    font-size: 15px;
    margin-left: 2px;
  }
}

@media (max-width: 575.98px) {
  .prod {
    &__content {
      padding: 5px;
    }
  }
}

@media (max-width: 767.98px) {
  .prod {
    &__badge {
      font-size: 8px;
      padding: 3px 5px;
    }

    &__add {
      width: 30px;
      font-size: 13px;
    }

    &__name {
      font-size: 15px;
    }

    &__brand {
      font-size: 13px;
      margin-bottom: 5px;
    }

    &__price {
      &--current {
        font-size: 15px;
      }

      &--old {
        font-size: 15px;
      }
    }

    &__stars span {
      font-size: 13px;
    }

    &__score {
      font-size: 13px;
    }

    &__num-reviews {
      font-size: 10px;
    }
  }
}

@media (max-width: 991.98px) {
  .prod {
  }
}

@media (max-width: 1199.98px) {
  .prod {
  }
}

@media (max-width: 1399.98px) {
  .product {
  }
}

.products {
  background-color: $bg;
  padding: 50px 0;
  flex-grow: 1;

  &__filter {
    min-width: 300px;
    max-width: 300px;
    padding: 0 10px;
  }

  & .filter {
    background: $bg-light;
    padding: 25px;
    border-radius: 20px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
    }

    &__heading {
      color: $text;
      margin: 0;
    }

    &__label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 15px;
    }

    &__title {
      color: $text;
      font-weight: 500;
      font-size: 20px;
      margin: 0;
    }

    &__clear {
      color: $text-muted;
      font-weight: 500;
      font-size: 16px;
      background: none;
      border: none;
      padding: 0;
      transition: 0.3s ease;

      position: relative;

      &-all {
        font-size: 18px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: $primary;
        transform: scaleX(0);
        transition: 0.3s ease;
      }

      &:hover {
        color: $primary;
        &::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    &__item {
      border: none;
      border-radius: 20px;
      background: $bg;
      padding: 5px 15px;
      transition: 0.2s ease-in-out;

      &:hover {
        background: $primary;
        box-shadow: rgba(99, 99, 99, 0.541) 0px 2px 2px 0px;
        color: white;
      }

      &--active {
        // background: red;
        background: $primary;
        box-shadow: rgba(99, 99, 99, 0.541) 0px 2px 2px 0px;
        color: white;
      }
    }
  }

  &__search {
    position: relative;

    & input {
      max-width: 600px;
      border-radius: 20px;
      padding: 6px 20px;
      background: $bg-light;
      border: 1px solid $border-muted;

      &:focus {
        box-shadow: none;
        border: 1px solid $border-muted;
      }
    }

    & label {
      position: absolute;
      left: 18px;
      padding: 0px 2px;
      color: $text-muted;
      font-size: 16px;
      display: flex;
      align-items: center;
      opacity: 1;
    }

    & input:focus + label,
    & input:not(:placeholder-shown) + label {
      opacity: 0;
    }

    & button {
      border-radius: 20px;
      padding: 6px 10px;
      background: $bg-light;
      border: 1px solid $border-muted;
      transition: 0.3s ease;
      font-weight: 500;
      color: $text-muted;

      &:hover {
        color: $primary;
      }
    }
  }

  & .modal {
    & .btn-close {
      position: absolute;
      top: -8px;
      right: -8px;

      width: 16px;
      height: 16px;

      display: grid;
      place-items: center;

      background: $bg-light;
      opacity: 1;
      border-radius: 50%;
      border: 1px solid $border-muted;
      cursor: pointer;
      z-index: 99;
      transition: 0.3s ease;

      &:hover span {
        color: $primary;
      }

      & span {
        font-size: 17px;
        line-height: 1; /* QUAN TRá»ŒNG */
      }
    }

    &-content {
      border-radius: 20px;
      overflow: visible;
    }

    &-header {
      position: relative;
      width: 100%;
    }

    &-body {
      padding: 0 15px 25px 15px;
      &::-webkit-scrollbar {
        width: 8px;
        // height: 8px;
      }
    }
    & + .btn {
      border-radius: 50%;
      padding: 5px;
      background: $bg-light;
      border: 1px solid $border-muted;
      display: grid;
      place-items: center;
      color: $text-muted;
      margin-right: 5px;
      display: none;
      width: auto;
      height: fit-content;
      aspect-ratio: 1;
      transition: 0.3s ease;

      &:hover {
        color: $primary;
      }

      & span {
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__sort {
    & .btn {
      border-radius: 50%;
      padding: 5px;
      background: $bg-light;
      border: 1px solid $border-muted;
      display: grid;
      place-items: center;
      color: $text-muted;
      aspect-ratio: 1;
      width: auto;
      height: fit-content;
      aspect-ratio: 1;

      &:focus {
        box-shadow: none;
      }
    }

    & .dropdown-toggle {
      transition: 0.3s ease;
      &::after {
        display: none;
      }

      &:hover {
        color: $primary;
      }
    }

    &-icon {
      transform: rotate(90deg);
    }
  }

  &__constraint {
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    &-item {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      position: relative;
      margin: 0 16px 0px 0;
      padding: 0 10px 0 12px;
      background: #777;
      -webkit-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 12px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      cursor: default;

      &:nth-child(2n) {
        background: $primary;

        &::before {
          border-color: transparent $primary transparent transparent;
        }
      }

      &:nth-child(2n + 1) {
        background: $secondary;

        &::before {
          border-color: transparent $secondary transparent transparent;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-color: transparent #3243a5 transparent transparent;
        border-style: solid;
        border-width: 12px 12px 12px 0;
        color: inherit;
      }

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 1px;
        float: left;
        width: 5px;
        height: 5px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #fff;
        -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
        box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
      }
    }

    &-clear {
      position: absolute;
      top: -5px;
      right: -5px;
      background: $border-muted;
      width: 12px;
      height: 12px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      border: 1px solid $bg;
      opacity: 0;
      transition: 0.2s ease;
      cursor: pointer;

      span {
        font-size: 10px;
      }
    }

    &-item:hover &-clear {
      opacity: 1;
    }
  }

  &__no-product {
    background: $bg-light;
    margin: 10px 0;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1175px) {
  .products {
    &__filter {
      display: none;
    }

    & .modal &__filter {
      display: block;
      max-width: 100%;
      min-width: none;
    }

    & .modal {
      & + .btn {
        display: grid;
      }
    }

    &__constraint {
      &-clear {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1199.98px) {
}

@media (min-width: 1399.98px) {
  .products {
    & .container-xxl {
      max-width: 1600px;
    }
  }
}

.scroll-top {
  position: fixed;
  right: 10px;
  bottom: 50px;
  background: $bg-light;
  border-radius: 50%;
  height: fit-content;
  width: 28px;
  border: 1px solid $border-muted;
  font-weight: 600;
}
